javaFXApplication/src/resources/ETT-V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ETT-TimeTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teachers"/>
				<xs:element ref="ETT-Subjects"/>
				<xs:element ref="ETT-Classes"/>
				<xs:element ref="ETT-Rules"/>
			</xs:sequence>
			<xs:attribute name="hours" type="xs:int" use="required"/>
			<xs:attribute name="days" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teaching">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teaches" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teaches">
		<xs:complexType>
			<xs:attribute name="subject-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teachers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teacher" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teacher">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ETT-Name"/>
				<xs:element ref="ETT-Teaching"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Subject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Subject">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Study">
		<xs:complexType>
			<xs:attribute name="subject-id" type="xs:int" use="required"/>
			<xs:attribute name="hours" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Selection">
		<xs:complexType>
			<xs:all>
				<xs:element name="ETT-Elitism" type="xs:int" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Truncation"/>
						<xs:enumeration value="RouletteWheel"/>
						<xs:enumeration value="Tournament"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configuration" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Rule" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="hard-rules-weight" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-RuleId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TeacherIsHuman"/>
				<xs:enumeration value="Singularity"/>
				<xs:enumeration value="Knowledgeable"/>
				<xs:enumeration value="DayOffTeacher"/>
				<xs:enumeration value="Sequentiality"/>
				<xs:enumeration value="Satisfactory"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ETT-Rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-RuleId"/>
				<xs:element ref="ETT-Configuration" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Hard"/>
						<xs:enumeration value="Soft"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Requirements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Study" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Name" type="xs:string"/>
	<xs:element name="ETT-Mutations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Mutation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Mutation">
		<xs:complexType>
			<xs:attribute name="probability" type="xs:double" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Flipping"/>
						<xs:enumeration value="Sizer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="configuration" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-InitialPopulation">
		<xs:complexType>
			<xs:attribute name="size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-EvolutionEngine">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ETT-InitialPopulation"/>
				<xs:element ref="ETT-Selection"/>
				<xs:element ref="ETT-Crossover"/>
				<xs:element ref="ETT-Mutations"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-TimeTable"/>
				<xs:element ref="ETT-EvolutionEngine"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Configuration" type="xs:string"/>
	<xs:element name="ETT-Crossover">
		<xs:complexType>
			<xs:attribute name="configuration" type="xs:string"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AspectOriented"/>
						<xs:enumeration value="DayTimeOriented"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cutting-points" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Classes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Class" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Class">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ETT-Name"/>
				<xs:element ref="ETT-Requirements"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
